html {
    scroll-behavior: smooth;
  }

body {
    background-color: black;
    padding: 16px;
}

#container {
    background-color: white;
    margin: 16px;
    border-radius: 16px;
}

.text{
    font-family: Courier, "Lucida Console", monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}
